* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 15vh 10vw;
    align-items: center;
    justify-content: center;
}

#num {
    padding: 2vh 4vw;
    margin: 2vh 0;
}

h1 {
    font-size: 2.5rem;
}